
:root {
    --primary-text-color: #757575;
    --secondly-text-color: #212121;
    --text-blue-color: #2196F3;
    --primary-background-color: #F5F5F5;
    --half-logo-color: #2196F3;
    --upper-logo-color: #000000;
    --hover-color: #2196F3;
    --site-navigation-color: #212121;
    --white-color: #FFFFFF;
    --under-logo-color: #FFFFFF;
    --secondly-bg-color: #2F303A;
    --under-contact-color: rgba(255, 255, 255, 0.6);
    --third-section-color: #F5F4FA;
    --border-color: #EEEEEE;
}



html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;




}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

/*header*/
.header {
    background-color: var(--white-color);
    height: 80px;
    border-bottom: solid 1px #EEEEEE;



}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;







    margin-left: auto;
    margin-right: auto;
}




.main-nav {
    display: flex;
    align-items: center;



}



/*logo*/

.half-logo {
    color: var(--half-logo-color);
    font-family: raleway, sans-serif;
    font-family: 700;
    font-size: 26px;
    line-height: 1.19;

}


.logo {
    color: var(--upper-logo-color);
    font-family: raleway, sans-serif;
    font-family: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    display: block;
}



.logo:hover,
.logo:focus {
    color: var(--hover-color);
    font-family: 700;
    font-size: 26px;
    line-height: 1.19;
    cursor: pointer;

}



/*site-nav*/
.site-nav {
    display: flex;

}

.site-nav .item {
    padding-top: 32px;
    padding-bottom: 32px;

    margin-left: 50px;
}

.site-nav .item:first-child {

    margin-left: 0px;
}



.site-nav .link {
    color: var(--site-navigation-color);
    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;





}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-color);
    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
}

.site-nav .link.current {
    color: var(--text-blue-color);
}

/*comunication navigation*/
.commun {
    display: flex;
    margin-left: auto;

}

.commun .contact {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    display: flex;

    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    color: #757575
}

.commun .item {
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;


}

.commun .item:first-child {
    margin-left: 0;
}



.commun .contact:hover,
.commun .contact:focus {
    color: var(--hover-color);
    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;

}

.envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor
}

.smart {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor
}

.commun-icone:hover,
.commun-icone:focus {
    fill: #2196F3
}

/*hero*/
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;


    text-align: center;
    padding: 200px 0;


    background-color: var(--secondly-bg-color);
    background-image:
        linear-gradient(to top,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),

        url(../images/bg-hero.jpg);
    background-repeat: no-repeat;
    ;



}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    margin-left: auto;
    margin-right: auto;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;


}

/*button*/
.button {

    color: var(--white-color);
    background-color: var(--text-blue-color);
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;


    letter-spacing: 0.06em;

    border-radius: 4px;
    padding: 10px 32px;
    border: none;




}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*Section*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;

}

.invisible-title {
    margin-top: 0;
    margin-bottom: 0;
}

.feature-list {
    display: flex;
}

.section-title {
    color: var(--secondly-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.icones {

    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.feature-icon {
    display: flex;
    width: 70px;
    height: 70px;






}


/*Features*/
.plus {
    margin-left: 30px;
}

.plus:first-child {
    margin: 0;
}


.title {
    color: var(--secondly-text-color);
    font-weight: 700;
    font-size: 14px;

    line-height: 1.71;

    margin-bottom: 10px;
    margin: 0;
    margin-bottom: 10px;


}

.text {
    margin: 0;
    line-height: 1.71;
}






/*SECOND SECTION*/
.second {
    padding-top: 0;
    padding-bottom: 94px;
}

/*whet we do*/
.what-do {
    display: flex;
}

.occupation {
    margin-left: 30px;
}

.occupation:first-child {
    margin-left: 0;
}


/*our team*/


.third {
    background-color: var(--third-section-color);
}


.team {
    display: flex;
}

.people {
    margin-left: 30px;
}

.people:first-child {
    margin-left: 0;
}

.name {
    color: var(--secondly-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.special {

    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;

}

.data {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: var(--white-color);
}

.social {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-item {}

.social-item:first-child {
    margin-left: 0;
}

.social-link {
    color: #AFB1B8;
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: #FFFFFF;
}

.social-link:hover {
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 50%;
}








.social-logo {

    width: 20px;
    height: 20px;
    fill: currentColor;





}

/* .social-logo:hover,
         .social-logo:focus {
            fill:#FFFFFF;
            background-color: #2196F3;
            cursor: pointer;
             */





.client-list {
    display: flex;

}

.client-item {
    width: 170px;
    height: 92px;
    margin-left: 30px;
}

.client-item:first-child {
    margin-left: 0px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

}

.client-logo {
    width: 106px;
            height: 60px;
    fill: currentColor;
}

.client-link:hover,
.client-item:focus {
    color: #2196F3;
    border-color: #2196F3;
    cursor: pointer;
}



/*footer*/
.page-footer {
    background-color: var(--secondly-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
    display: flex;




}

.conteiner.footer {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    margin-right: 70px;
}

.under-logo {
    font-family: raleway, sans-serif;
    font-family: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-bottom: 20px;



}

.half-white {
    color: var(--white-color);
    font-family: raleway, sans-serif;

}

.address {
    font-size: 14px;
    margin-top: 20px;

}

.footer-comm {
    margin-bottom: 9px;
}

.footer-comm:last-child {
    margin-bottom: 0;
}


.location {
    color: var(--white-color);
    font-style: normal;





    line-height: 1.71;
    text-align: left;
    text-decoration: none;

}

.connect .contact {
    color: var(--under-contact-color);
    font-size: 14px;

    line-height: 1.71;

    font-style: normal;
    text-decoration: none;
    display: inline-block;




}


.connect .contact:hover,
.connect .contact:focus {
    color: var(--hover-color);
    text-decoration: none;

    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    cursor: pointer;



}

.footer-text {
    margin-bottom: 20px;
    color: #FFFFFF;
    line-height: 1.17;
    font-weight: 700;
}

.footer-list {
    display: flex;

}

.footer-item {
    margin-left: 10px;

}

.footer-item:first-child {
    margin-left: 0;
}

.foot-link {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;

    color: #AFB1B8;
    background-color: rgba(255, 255, 255, 0.1);
    ;
}

.foot-link:hover,
.foot-link:focus {
    background-color: #2196F3;
}





.social-foot {
    width: 20px;
    height: 20px;

}

/*
         Font size: 14px; Line height: 1.71; 
         Align: Left; */



/*portfolio-css*/
.hero-port {

    padding-top: 94px;
    padding-bottom: 94px;
}

.navig {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;

}

.filters {
    margin: 0;
}



.filt {
    color: var(--secondly-text-color);
    background-color: var(--third-section-color);
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    vertical-align: top;
    fill: solid var(--secondly-text-color);
    border-radius: 4px;

    padding: 6px 22px;

    border-color: transparent;
}

.one {
    padding: 6px 25px;
}

.filt:hover,
.filt:focus {
    color: var(--white-color);
    background-color: var(--hover-color);
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
}

.works {
    display: flex;
    flex-wrap: wrap;







}

.photo {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
}

.photo:nth-child(3n) {
    margin-right: 0;
}

.photo:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.photo:hover {
    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.poster {
    padding-top: 20px;
    padding-bottom: 20px;

    border: solid 1px var(--border-color);
    border-top: none;
    padding-left: 24px;
    padding-right: 24px;

}


.port-img {
    text-decoration: none;


}






.project {
    color: var(--secondly-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;

    margin-bottom: 4px;



}

.value {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
    margin: 0;





}